body {
    height: 100px;
    width: 600px;
    padding-top: 10px;
}
::-webkit-scrollbar { 
    display: none; 
}
h4 {
    display: inline;
    position:absolute;
    left:100px;
    top:10px;
}
#refreshbtn {
    float: right;
}
button {
    width: 110px;
}
#clearstorage {
    width: 150px;
}
#reauthorize {
    width: 170px;
    margin-left: 5px;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}